* {
    padding: 0px;
    margin: 0px;
}

.main-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(163, 187, 239);
}
