* {
    padding: 0;
    margin: 0;
}

.main-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(163, 187, 239);
    padding: 40px 0;
}
