.main-window {
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1024px) {
    .main-window {
        width: 95%;
        height: 90%;
    }
}

@media screen and (max-width: 768px) {
    .main-window {
        height: auto;
        min-height: 50vh;
        border-radius: 10px;
        padding-top: 20px;
    }
}
