@font-face {
    font-family: 'Geometria';
    src: url('./assets/Fonts/Geometria/Geometria-Bold.woff2') format('woff2');
    font-weight: 800;
}

@font-face {
    font-family: 'Gilroy-FREE';
    src: url('./assets/Fonts/Gilroy-FREE/Gilroy-Light.otf') format('opentype');
    font-weight: 800;
}
